<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Public/css/LayoutAuthen.css" rel="stylesheet" />
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="title" class="text-center">Đăng nhập tài khoản</h2>
                @*<div style="color: red;text-align:center;"><?=$msg?></div>*@
            </div>
            <form action="" method="post">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="TenDN">Tên Đăng Nhập hoặc Email:</label>
                        <input required="true" type="text" class="form-control" id="TenDN" name="TenDN">
                    </div>
                    <div class="form-group">
                        <label for="MatKhau">Mật khẩu:</label>
                        <input required="true" type="password" class="form-control" id="MatKhau" name="MatKhau" minlength="6">
                    </div>
                    <div class="form-group">
                        <span><a href="#">Đăng kí tài khoản mới</a></span>
                        <span><a href="#" class="btn-forget">Quên Mật Khẩu</a></span>
                    </div>
                    <button class="btn btn-success">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
    @RenderBody()
</body>
</html>
