<!DOCTYPE html>
<html>
<head>
    <link href="~/Public/css/ContainerSanpham.css" rel="stylesheet" />
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <div class="shop-body">
        <div class="grid wide">
            <div class="row">
                <div class="col l-3 shop-danhmuc">
                    <div class="shop-danhmuc-header">
                        <span>ĐIỆN THOẠI</span>
                    </div>
                    <!-- Lọc theo giá -->

                    <div class="shop-reducing-price">
                        <span class="shop-reducing-title">HÃNG SẢN XUẤT</span>
                        <div class="shop-reducing-items-box">
                            <div class="product-type">
                                <a href="#" class=tag-a>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-9 shop-sanpham">
                    <div class="shop-sanpham-title">
                        <span class="page-now" data-title="#"></span>';
                       
                    </div>
                    <div class="row">
                        <div class="col l-4 c-6 product-selling-items shop-cuahang-items">
                            <div class="product-selling-box-img">
                                <a href="#"><img class="product-selling-img" src="#" alt=""></a>
                            </div>
                            <div class="product-selling-info">
                                <div class="product-selling-name">
                                    <span>#</span>
                                </div>
                                <div class="product-selling-price">
                                    <div class="product-selling-price-now">#<sup>đ</sup></div>
                                </div>
                                <div class="btn-add-cart-box">
                                    <a class="tag-a link-add-cart">
                                        <span class="btn-add-cart">THÊM VÀO GIỎ HÀNG</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="shop-phantrang">
                        
                        <a class="tag-a page-footer" href="#">
                            <span class="shop-page2 " data-prog=''></span>
                        </a>
                            <a href="#" class="tag-a"><span><i class="fas fa-chevron-right shop-page2"></i></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
